
fieldset{
    background-color:beige;
    padding:40px;
    font-size: 25px;
    border:2px solid dodgerblue;
    border-radius:20px;
}
label{
   font-size: 20px;
    margin-right: 120px;
   

 
}

fieldset:hover{

      background-color:#E2F1FF;
}